<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>NewsPk</title>
  </head>
  <body>
    <div class="container">
        <br>
        <h1 class="text-primary display-6">Newspk - API</h1>
        <p>
          A basic nodejs based news website (dawn) scraper. You can use this API to fetch latest news in English, Dutch or Urdu language. It uses node-fetch and jsdom dependencies and hence is a very light-weighted package.
        </p>
        <hr>
        <h5 class="text-primary">Usage</h5>
        <span class="text-success">GET |</span><code>
          https://newspk.herokuapp.com/api
        </code>
        <br>
        <br>
        <h6>Query Parameters:</h6>
        <p class="text-secondary">You can pass  <i>lang</i> and <i>limit</i> as query parameters to get desired results. </p>
        
        <h6>Examples</h6>
        <span class="text-success">GET |</span><code>
          https://newspk.herokuapp.com/api?lang=urdu&limit=10
        </code>
        <br>
        <span class="text-success">GET |</span><code>
          https://newspk.herokuapp.com/api?lang=english&limit=1
        </code>
        <br>
        <span class="text-success">GET |</span><code>
          https://newspk.herokuapp.com/api?lang=english&limit=1
        </code>

        
        <hr>

        <h5 class="text-primary ">NPM Package</h5>
        <code>npm i newspk</code>
        <hr>

        <ul>
            <li><a target="_blank" href="https://github.com/MazanLabeeb/newspk">Github</a></li>
        </ul>
        
        
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
